# Dataframes with Pandas

For reference, here is a useful [pandas cheat sheet](https://drive.google.com/folderview?id=0ByIrJAE4KMTtaGhRcXkxNHhmY2M&usp=sharing).

Often data is stored in comma separated values (CSV) files. CSV files can be output by any spreadsheet software, and are plain text, hence are a great way to share data.

![](https://github.com/rahulpathak2002/NumericalPython/blob/main/images/csv.png?raw=1)

Here we are reading in a spreadsheet of the number of electoral votes in the American Electoral College.

## Importing and structure

In [1]:
# Let us import the pandas library
import pandas as pd

In [2]:
!wget https://raw.githubusercontent.com/rahulpathak2002/NumericalPython/main/data/electoral_votes.csv

--2020-12-20 04:14:16--  https://raw.githubusercontent.com/rahulpathak2002/NumericalPython/main/data/electoral_votes.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 679 [text/plain]
Saving to: ‘electoral_votes.csv’

electoral_votes.csv 100%[===================>]     679  --.-KB/s    in 0s

2020-12-20 04:14:17 (29.3 MB/s) - ‘electoral_votes.csv’ saved [679/679]

In [3]:
!wget https://raw.githubusercontent.com/rahulpathak2002/NumericalPython/main/data/population_2012.csv

--2020-12-20 04:14:34--  https://raw.githubusercontent.com/rahulpathak2002/NumericalPython/main/data/population_2012.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 969 [text/plain]
Saving to: ‘population_2012.csv’

population_2012.csv 100%[===================>]     969  --.-KB/s    in 0s

2020-12-20 04:14:34 (51.2 MB/s) - ‘population_2012.csv’ saved [969/969]

In [4]:
electoral_votes = pd.read_csv("electoral_votes.csv")
electoral_votes.head()

        State  Votes
0  California     55
1       Texas     38
2    New York     29
3     Florida     29
4    Illinois     20

What we have now is a spreadsheet with indexed rows and named columns, called a dataframe in pandas.  `electoral_votes` is an instance of the pd.DataFrame class, created by calling the pd.read_csv "constructor function".

`electoral_votes` is a dataframe object, and it has methods (functions) belonging to it. For example, `electoral_votes.head()` is a method that shows the first 5 rows of the dataframe.

A pandas dataframe is a set of columns pasted together into a spreadsheet, as shown in the schematic below, which is taken from the cheatsheet above. The columns in pandas are called series objects.

![](https://github.com/rahulpathak2002/NumericalPython/blob/main/images/pandastruct.png?raw=1)

Here, `States` and `Votes` are Pandas series objects.

In [6]:
electoral_votes.columns
#looks likes a dictionary

Index(['State', 'Votes'], dtype='object')

In [10]:
electoral_votes.columns??

We can find out the object type by using the type function.

In [7]:
print('Electoral votes is a ', type(electoral_votes))
print('Votes is a ', type(electoral_votes['Votes']))

Electoral votes is a  <class 'pandas.core.frame.DataFrame'>
Votes is a  <class 'pandas.core.series.Series'>

What is the "shape" of the dataframe?

In [11]:
electoral_votes.shape

(51, 2)

And the datatypes? Pandas is built on top of numpy and thus wants columns to have unique types.

In [12]:
electoral_votes.dtypes

State    object
Votes     int64
dtype: object

## Access

As we see above, the pandas dataframe acts like a dictionary, with the keys being the column names.

In [13]:
electoral_votes['Votes']

0     55
1     38
2     29
3     29
4     20
5     20
6     18
7     16
8     16
9     15
10    14
11    13
12    12
13    11
14    11
15    11
16    11
17    10
18    10
19    10
20    10
21     9
22     9
23     9
24     8
25     8
26     7
27     7
28     7
29     6
30     6
31     6
32     6
33     6
34     6
35     5
36     5
37     5
38     4
39     4
40     4
41     4
42     4
43     3
44     3
45     3
46     3
47     3
48     3
49     3
50     3
Name: Votes, dtype: int64

You could also access them like this, if the variable name allows it

In [14]:
electoral_votes.Votes
# we can not use this if we have two words in columns name

0     55
1     38
2     29
3     29
4     20
5     20
6     18
7     16
8     16
9     15
10    14
11    13
12    12
13    11
14    11
15    11
16    11
17    10
18    10
19    10
20    10
21     9
22     9
23     9
24     8
25     8
26     7
27     7
28     7
29     6
30     6
31     6
32     6
33     6
34     6
35     5
36     5
37     5
38     4
39     4
40     4
41     4
42     4
43     3
44     3
45     3
46     3
47     3
48     3
49     3
50     3
Name: Votes, dtype: int64

In [15]:
electoral_votes.head(10)

            State  Votes
0      California     55
1           Texas     38
2        New York     29
3         Florida     29
4        Illinois     20
5    Pennsylvania     20
6            Ohio     18
7        Michigan     16
8         Georgia     16
9  North Carolina     15

## Indexes

Since the actual file looks something like this:

```
State,Votes
California,55
Texas,38
New York,29
Florida,29
Illinois,20
Pennsylvania,20
```
You can see that an index has been added, and its numerical, and starts at 0 (like in the lists). This index is not particularly useful, so lets set the state column as the index. We can do this because the states in the USA have **unique** names

In [16]:
electoral_votes = electoral_votes.set_index('State') # from memory point of view new memory is created and variable is asigned to new memory
electoral_votes.head()

            Votes
State
California     55
Texas          38
New York       29
Florida        29
Illinois       20

This changes the shape of the dataframe!

In [17]:
electoral_votes.shape

(51, 1)

Notice how we used the `electoral_votes` variable twice in a line above. Pandas returns new objects in memory when we do something to a dataframe (here, setting the index). We relabel the new memory with the same label.

What happens to the old memory? When nothing refers to it, Python "garbage collects" it.

## Combining Data

Let us read another csv file into a pandas dataframe. This csv file provides us information about the population of every state in the US.

In [18]:
population_2012=pd.read_csv("population_2012.csv").set_index('State')
population_2012.head()

            Population
State
Alaska          710000
Alabama        4780000
Arkansas       2916000
Arizona        6392000
California    37254000

In [19]:
population_2012.shape

(51, 1)

We now have two dataframes with state names as an index. Lets now try to combine these dataframes together so that we have all the information in one dataframe. This is identical to a SQL inner join.

In [21]:
combined = population_2012.join(electoral_votes)
#its going to join based on the index.
combined.head()

            Population  Votes
State
Alaska          710000      3
Alabama        4780000      9
Arkansas       2916000      6
Arizona        6392000     11
California    37254000     55

## Operations on dataframes and series

You must work with these sdataframes and series using pandas and numpy functions for reasons of speed. So dont iterate explicitly, let pandas do it for you. Let us add a column which gives us population in millions.

In [22]:
combined['popmills'] = combined.Population.apply(lambda x: x/1000000.)
combined.head()

            Population  Votes  popmills
State
Alaska          710000      3     0.710
Alabama        4780000      9     4.780
Arkansas       2916000      6     2.916
Arizona        6392000     11     6.392
California    37254000     55    37.254

You can access multiple columns as a sub-dataframe using an array-indexing syntax

In [24]:
combined[['popmills', 'Votes']].head() #it creates a new completely new object. inplace changes the data in place which is not the default one.

            popmills  Votes
State
Alaska         0.710      3
Alabama        4.780      9
Arkansas       2.916      6
Arizona        6.392     11
California    37.254     55

What if you wanted the 10 most populous states electoral votes and population in millions? You would have to sort by `popmills`, and get the top 10

In [ ]:
combined.sort_values('popmills', ascending=False)[['popmills', 'Votes']].head(10)

                popmills  Votes
State
California        37.254     55
Texas             25.146     38
New York          19.378     29
Florida           18.801     29
Illinois          12.831     20
Pennsylvania      12.702     20
Ohio              11.537     18
Michigan           9.884     16
Georgia            9.688     16
North Carolina     9.535     15

You can query dataframes by values of certain columns

In [29]:
combined.query("10 < Votes < 15")

               Population  Votes  popmills
State
Arizona           6392000     11     6.392
Indiana           6484000     11     6.484
Massachusetts     6548000     11     6.548
New Jersey        8792000     14     8.792
Tennessee         6346000     11     6.346
Virginia          8001000     13     8.001
Washington        6725000     12     6.725

This a short form for two operations:

1. create a True/False boolean mask using a conditional
2. use the mask to select specific rows from the dataframe matching the conditional; that is only those rows are chosen for whom the conditional is True

In [30]:
combined.Votes < 15

State
Alaska                   True
Alabama                  True
Arkansas                 True
Arizona                  True
California              False
Colorado                 True
Connecticut              True
District of Columbia     True
Delaware                 True
Florida                 False
Georgia                 False
Hawaii                   True
Iowa                     True
Idaho                    True
Illinois                False
Indiana                  True
Kansas                   True
Kentucky                 True
Louisiana                True
Massachusetts            True
Maryland                 True
Maine                    True
Michigan                False
Minnesota                True
Missouri                 True
Mississippi              True
Montana                  True
North Carolina          False
North Dakota             True
Nebraska                 True
New Hampshire            True
New Jersey               True
New Mexico               True
Nevada                   True
New York                False
Ohio                    False
Oklahoma                 True
Oregon                   True
Pennsylvania            False
Rhode Island             True
South Carolina           True
South Dakota             True
Tennessee                True
Texas                   False
Utah                     True
Virginia                 True
Vermont                  True
Washington               True
Wisconsin                True
West Virginia            True
Wyoming                  True
Name: Votes, dtype: bool

In [31]:
combined.Votes > 10

State
Alaska                  False
Alabama                 False
Arkansas                False
Arizona                  True
California               True
Colorado                False
Connecticut             False
District of Columbia    False
Delaware                False
Florida                  True
Georgia                  True
Hawaii                  False
Iowa                    False
Idaho                   False
Illinois                 True
Indiana                  True
Kansas                  False
Kentucky                False
Louisiana               False
Massachusetts            True
Maryland                False
Maine                   False
Michigan                 True
Minnesota               False
Missouri                False
Mississippi             False
Montana                 False
North Carolina           True
North Dakota            False
Nebraska                False
New Hampshire           False
New Jersey               True
New Mexico              False
Nevada                  False
New York                 True
Ohio                     True
Oklahoma                False
Oregon                  False
Pennsylvania             True
Rhode Island            False
South Carolina          False
South Dakota            False
Tennessee                True
Texas                    True
Utah                    False
Virginia                 True
Vermont                 False
Washington               True
Wisconsin               False
West Virginia           False
Wyoming                 False
Name: Votes, dtype: bool

In [32]:
(combined.Votes > 10) & (combined.Votes < 15) # bitwise and

State
Alaska                  False
Alabama                 False
Arkansas                False
Arizona                  True
California              False
Colorado                False
Connecticut             False
District of Columbia    False
Delaware                False
Florida                 False
Georgia                 False
Hawaii                  False
Iowa                    False
Idaho                   False
Illinois                False
Indiana                  True
Kansas                  False
Kentucky                False
Louisiana               False
Massachusetts            True
Maryland                False
Maine                   False
Michigan                False
Minnesota               False
Missouri                False
Mississippi             False
Montana                 False
North Carolina          False
North Dakota            False
Nebraska                False
New Hampshire           False
New Jersey               True
New Mexico              False
Nevada                  False
New York                False
Ohio                    False
Oklahoma                False
Oregon                  False
Pennsylvania            False
Rhode Island            False
South Carolina          False
South Dakota            False
Tennessee                True
Texas                   False
Utah                    False
Virginia                 True
Vermont                 False
Washington               True
Wisconsin               False
West Virginia           False
Wyoming                 False
Name: Votes, dtype: bool

Now we do the indexing

In [33]:
combined[(combined.Votes > 10) & (combined.Votes < 15)]

               Population  Votes  popmills
State
Arizona           6392000     11     6.392
Indiana           6484000     11     6.484
Massachusetts     6548000     11     6.548
New Jersey        8792000     14     8.792
Tennessee         6346000     11     6.346
Virginia          8001000     13     8.001
Washington        6725000     12     6.725

## Accessing select rows in a DataFrame

We have seen how to get an entire column, or an entire sub-dataframe.

We'll now look at 2 methods : [*.loc*](https://pandas.pydata.org/pandas-docs/version/0.23.1/generated/pandas.DataFrame.loc.html) and [*.iloc*](https://pandas.pydata.org/pandas-docs/version/0.23.1/generated/pandas.DataFrame.iloc.html#pandas.DataFrame.iloc) that will help us select certain rows/columns from a Pandas DataFrame.

*.loc* accesses a group of rows and columns by label(s) or a boolean array, whereas *.iloc* is a purely integer-location based indexing for selection by position.

We'll do some examples on the `combined` Dataframe to see how this works

**Eg1**: Say we need to find out the Population for Alabama. We shall do this by using .loc & .iloc both

In [ ]:
print("The population of Alabama is:", combined.loc['Alabama'].Population)
print("The population of Alabama is:", combined.iloc[1].Population)

The population of Alabama is: 4780000.0
The population of Alabama is: 4780000.0

For using *.loc*, we need to specify the index label (States) while for using *.iloc*, we need to specify the index position (for Alabama, it is 1)

**Eg2**: Find out the votes of the first 5 states in the dataframe.

In [ ]:
combined.iloc[0:5].Votes

State
Alaska         3
Alabama        9
Arkansas       6
Arizona       11
California    55
Name: Votes, dtype: int64

**Eg3**: Find out only the rows for all states whose population is greater than 10 million. We can write a conditional expression within the .loc brackets to do this.

In [ ]:
combined.loc[combined['Population'] > 10000000]

              Population  Votes  popmills
State
California      37254000     55    37.254
Florida         18801000     29    18.801
Illinois        12831000     20    12.831
New York        19378000     29    19.378
Ohio            11537000     18    11.537
Pennsylvania    12702000     20    12.702
Texas           25146000     38    25.146

Let us save this dataframe now to a csv file named **'combined_population_votes'** on our local

In [34]:
combined.to_csv('combined_population_votes.csv')

In [35]:
!cat combined_population_votes.csv

State,Population,Votes,popmills
Alaska,710000,3,0.71
Alabama,4780000,9,4.78
Arkansas,2916000,6,2.916
Arizona,6392000,11,6.392
California,37254000,55,37.254
Colorado,5029000,9,5.029
Connecticut,3574000,7,3.574
District of Columbia,602000,3,0.602
Delaware,898000,3,0.898
Florida,18801000,29,18.801
Georgia,9688000,16,9.688
Hawaii,1360000,4,1.36
Iowa,3046000,6,3.046
Idaho,1568000,4,1.568
Illinois,12831000,20,12.831
Indiana,6484000,11,6.484
Kansas,2853000,6,2.853
Kentucky,4339000,8,4.339
Louisiana,4533000,8,4.533
Massachusetts,6548000,11,6.548
Maryland,5774000,10,5.774
Maine,1328000,4,1.328
Michigan,9884000,16,9.884
Minnesota,5304000,10,5.304
Missouri,5989000,10,5.989
Mississippi,2967000,6,2.967
Montana,989000,3,0.989
North Carolina,9535000,15,9.535
North Dakota,673000,3,0.673
Nebraska,1826000,5,1.826
New Hampshire,1316000,4,1.316
New Jersey,8792000,14,8.792
New Mexico,2059000,5,2.059
Nevada,2701000,6,2.701
New York,19378000,29,19.378
Ohio,11537000,18,11.537
Oklahoma,3751000,7,3.751
Oregon,3831000,7,3.831
Pennsylvania,12702000,20,12.702
Rhode Island,1053000,4,1.053
South Carolina,4625000,9,4.625
South Dakota,814000,3,0.814
Tennessee,6346000,11,6.346
Texas,25146000,38,25.146
Utah,2764000,6,2.764
Virginia,8001000,13,8.001
Vermont,626000,3,0.626
Washington,6725000,12,6.725
Wisconsin,5687000,10,5.687
West Virginia,1853000,5,1.853
Wyoming,564000,3,0.564

In [36]:
read_file = pd.read_csv('combined_population_votes.csv')
read_file.head()

        State  Population  Votes  popmills
0      Alaska      710000      3     0.710
1     Alabama     4780000      9     4.780
2    Arkansas     2916000      6     2.916
3     Arizona     6392000     11     6.392
4  California    37254000     55    37.254